<div id="<%= dom_id genre %>">
  <p>
    <strong>Name:</strong>


<!--  <div>-->
    <%# current_user.bookmarks.each do |bookmark| %>
      <%#= button_to bookmark.book.title, bookmark.book, class: "btn btn-outline-secondary mb-3" %>
    <%# end %>
<!--  </div>-->
  </p>



<!--  <div id="genres">-->
    <%# @genres.each do |genre| %>
      <%#= render genre %>
<!--      <p>-->
        <%#= link_to "Show this genre", genre %>
<!--      </p>-->

</div>

<!--<div>-->
  <%# current_user.bookmarks.each do |bookmark| %>
    <%#= render bookmark %>
  <%# end %>
<!--</div>-->