<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h1>Your Bookmarks</h1>
      <div class="row row-cols-auto">
        <%= render 'books/book' %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class='d-flex justify-content-end'>
        <%= render 'layouts/sidebar' %>
      </div>
    </div>
  </div>
</div>