<!--<div class="container-fluid text-center">-->
  <%# if current_user%>
    <%#= link_to "Edit this book", edit_book_path(@book), class: "btn btn-outline-secondary mb-3" %>
    <%#= button_to "Destroy this book", @book, method: :delete, class: "btn btn-outline-secondary mb-3" %>
  <%# end %>
  <%#= link_to "Back to books", books_path, class: "btn btn-outline-secondary mb-3" %>
<!--</div>-->
